<style scoped>
    #app {
        margin-top: 60px;
    }
</style>

<div id="indexview" class="row">
    <h2>Kendo UI Web サンプル集 - 目次</h2>

    <div id="treeview"
         data-role="treeview"
         data-url-field="url"
         data-bound="indexvm.expandAll"
         data-bind="source: contents"></div>
</div>

@section scripts{
<script>
    var indexvm = new kendo.data.ObservableObject({
        element: "#indexview",
        contents: [
            { text: "1. MVVM、データバインドを使う", url: "@Url.Action("MVVMDataBind")" },
            {
                text: "2. コンボボックス", items: [
                    { text: "2.1. コンボボックスを使う", url: "@Url.Action("ComboBox1")" },
                    { text: "2.2. リスト部分の幅を指定する", url: "@Url.Action("ComboBox1")" },
                    { text: "2.3. テンプレートを使う", url: "@Url.Action("ComboBox2_3")" },
                    { text: "2.4. コンボボックスのカスケード", url: "@Url.Action("ComboBox3")" }
                ]
            },
            {
                text: "3. グリッド", items: [
                    { text: "3.1. グリッドを使う", url: "@Url.Action("Grid1")" },
                    { text: "3.2. 検索条件で絞り込み" },
                    { text: "3.3. ページネーション" },
                    { text: "3.4. グリッドのカスタマイズ" }
                ]
            }
    ],

        expandAll: function (e) {
            var treeview = e.sender;
            treeview.expand(".k-item");
        }
    });

    kendo.bind(indexvm.element, indexvm);
</script>
}