@{
    ViewBag.Title = "Kendo UI Web サンプル集 - 目次";
}

<style scoped>
    #app {
        margin-top: 60px;
    }
</style>

<div id="indexview" class="row">
    <h2 data-bind="text: title"></h2>

    <div id="treeview"
         data-role="treeview"
         data-url-field="url"
         data-bound="indexvm.expandAll"
         data-bind="source: contents"></div>
</div>

<div id="app" class="row">
    <div class="col-md-12">
        <h4>Grid</h4>
        <div id="grid"
                data-role="grid"
                data-selectable="row"
                data-bind="source: dataSource"
                data-height="300"
                ></div>
    </div>
</div>

@section scripts{
<script>
    var indexvm = new kendo.data.ObservableObject({
        element: "#indexview",
        title: "@(ViewBag.Title)",
        contents: [
            {
                text: "1. コンボボックス", items: [
                    { text: "1.1. コンボボックスを使う", url: "@Url.Action("ComboBox1")" },
                    {
                        text: "1.2.コンボボックスのカスタマイズ", items: [
                            { text: "1.2.1. リスト部分の幅を指定する", url: "@Url.Action("ComboBox2_1")" },
                            { text: "1.2.2. テンプレートを使う", url: "@Url.Action("ComboBox2_2")" }
                        ]
                    },
                    { text: "1.3. コンボボックスのカスケード", url: "@Url.Action("ComboBox3")" }
                ]
            },
            {
                text: "2. グリッド", items: [
                    { text: "2.1. グリッドを使う" },
                    { text: "2.2. 検索条件で絞り込み" },
                    { text: "2.3. ページネーション" },
                    { text: "2.4. グリッドのカスタマイズ" }
                ]
            }
        ],

        expandAll: function (e) {
            var treeview = e.sender;
            treeview.expand(".k-item");
        }
    });

    kendo.bind(indexvm.element, indexvm);
</script>



<script>
    var vm = new kendo.data.ObservableObject({
        element: "#app",

        dataSource : new kendo.data.DataSource({
            transport: {
                read: {
                    url: "http://demos.telerik.com/kendo-ui/service/products",
                    dataType: "jsonp" // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                }
            },
            schema: {
                model: { id: "ProductID" }
            }
        })

    });

    kendo.bind(vm.element, vm);
</script>
}