<style scoped>
    #app {
        margin-top: 60px;
    }
</style>

<div id="indexview" class="row">
    <h2>Kendo UI Web サンプル集</h2>

    <div id="treeview"
         data-role="treeview"
         data-url-field="url"
         data-bound="indexvm.expandAll"
         data-bind="source: contents"></div>
</div>

@section scripts{
<script>
    var indexvm = new kendo.data.ObservableObject({
        element: "#indexview",
        contents: [
            { text: "1. MVVM、データバインドを使う", url: "@Url.Action("MVVMDataBind")" },
            {
                text: "2. コンボボックス", items: [
                    { text: "2.1. コンボボックスを使う", url: "@Url.Action("ComboBox1")" },
                    { text: "2.2. リスト部分の幅を指定する", url: "@Url.Action("ComboBox1")" },
                    { text: "2.3. テンプレートを使う", url: "@Url.Action("ComboBox2_3")" },
                    { text: "2.4. コンボボックスのカスケード", url: "@Url.Action("ComboBox3")" }
                ]
            },
            {
                text: "3. グリッド", items: [
                    { text: "3.1. グリッドを使う", url: "@Url.Action("Grid1")" },
                    { text: "3.2. 検索条件で絞り込む", url: "@Url.Action("Grid2")" },
                    { text: "3.3. ページネーション(Client-side)", url: "@Url.Action("Grid3")" },
                    { text: "3.4. ページネーション(Server-side)", url: "@Url.Action("Grid4")" },
                    {
                        text: "3.5. グリッドのカスタマイズ", items: [
                                    { text: "3.5.1. Column Templateを使う", url: "@Url.Action("Grid5_1")" },
                                    { text: "3.5.2. Row Templateを使う", url: "@Url.Action("Grid5_2")" }
                        ]
                    },
                ]
            },
            {
                text: "4. ダイアログウィンドウ", items: [
                        { 
                            text: "4.1. グリッドの選択行を詳細ダイアログに表示", items: [
                                { text: "4.1.1. 選択行のデータをそのまま表示", url: "@Url.Action("Window1")" },
                                { text: "4.1.2. データをサーバーから取得して表示", url: "@Url.Action("Window2")" },
                            ]
                        }
                    ]
                    
            }
        ],

        expandAll: function (e) {
            var treeview = e.sender;
            treeview.expand(".k-item");
        }
    });

    kendo.bind(indexvm.element, indexvm);
</script>
}